<div class="page-header">
  <h3>Answer #<%= @answer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Answer </dt>
      <dd><%= @answer.answer_text %></dd>

      <dt>Date recorded</dt>
      <dd><%= @answer.questioned_on %></dd>

      <dt>Question</dt>
      <dd><%= @answer.question.question_text %></dd>

      <dt>Goal</dt>
      <dd><%= @answer.question.goal.goal_text %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/answers" class="btn btn-primary">
        Back
      </a>
      <a href="/answers/<%= @answer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_answer/<%= @answer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
